::-webkit-scrollbar {
  display: none;
}

ul{
  padding-left: 25px;
  text-align: left;
}

ul li{
  color: #777;
}

body {
  margin: 0;
  color: #222;
  font-family: 'Roboto', sans-serif;
}

/*background color*/

.background__gradient, .item:after {
  background: linear-gradient(to left bottom, #ec0000, #b004a8);
}


.experience, .load__more, .load__more:after {
  background: linear-gradient(to right, #ec0000, #b004a8);
}

/*background color end*/

.show, .hide{
  display: none;
}

.burger__menu{
  width: 32px;
  height: 3px;
  background-color: #ddd;
  position: absolute;
  z-index: 20;
  top: 40px;
  right: 25px;
  transition: .2s linear;
}

.burger__menu:after, .burger__menu:before{
  content: '';
  display: block;
  width: 32px;
  height: 3px;
  background-color: #ddd;
  position: absolute;
  right: 0px;
}

.hide{
  width: 0;
  opacity: 0;
}

.hide:after{
  transform: rotate(45deg);
  top: 0px;
}

.hide:before{
  transform: rotate(-45deg);

}

.show:before{
  top: 10px;
}

.show:after{
  top: -10px
}


h1 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Heebo', sans-serif;
  font-size: 48px;
  color: #222222;
  line-height: 55px;
  padding: 20px 0;

}


p {
  color: #777;
  font-size: 16px;
}

a {
  text-decoration: none;
}


.background__gradient {
  width: 100%;
  height: 80vh;
  background-size: cover;
  position: absolute;
  z-index: -1;
  color: #fff;
  text-align: center;
}

.entry {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #222;
}


.background__fon {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);


}

/*header*/

#header {
  width: 100%;
  padding-top: 25px;
  color: white;
  position: absolute;
  transition: .3s linear;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0);

}

.logo__nav {
  width: 70%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
  transition: .3s linear;
}

.logo {
  width: 60%;
  font-weight: 600;
  font-size: 22px;
}

nav {
  width: 40%;
  margin: 0 auto;
  transition: .3s linear;
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 300ms linear 0s;
}

nav button {
  text-transform: uppercase;
  font-size: 12px;
  color: #ddd;
  transition: .1s linear;
  font-weight: 500;
  margin-top: 9px;
  background: none;
  max-width: 100px;

}

nav button:after {
  width: 0px;
  display: block;
  content: '';
  margin: 3px auto;
  height: 2px;
  background-color: #fff;
  transition: .2s linear;
}


nav button:hover {
  color: #fff;
}

nav button:hover:after {
  width: 100%;
}

nav button.active {
  color: #fff;
}

nav button.active:after {
  width: 100%;
  display: block;
  content: '';
  margin: 3px auto;
  height: 2px;
  background-color: #fff;
}

/*end header*/

/* title */

.title__page {
  height: 100vh;
}

.container {
  width: 70%;
  /*height: 75vh;*/
  height: 35vw;
  margin: 0 auto;
  padding-top: 10vh;

}

.title {
  display: flex;
  height: 100%;
  align-items: center;
  margin-top: 70px;
  /*justify-content: space-between;*/
}

.avatar {
  width: 45%;
}

.avatar img {
  display: block;
  width: 60%;
  margin: 10% auto;
  border-radius: 15px;
}

.description {
  width: 40%;
  margin: 0 auto;
}


.specialty {
  color: #222222;
  font-size: 16px;
  font-weight: 500;
}

.contact__block{
  display: flex;
  width: 100%;
  align-items: center;

}

.contact__block img{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

/* title end */

/*about*/

.about {
  width: 70%;
  height: 100vh;
  margin: 0px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.about__myself {
  width: 40%;
  opacity: 0;
  transition: .7s linear;
}

.about h2{
  margin: 5px 0;
}

h2 {
  font-size: 36px;
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
}


.skills {
  width: 50%;
}

.skills__item {
  padding: 10px;
}

.name {
  padding-bottom: 7px;
}

.experience__border {
  width: 100%;
  height: 10px;
  border-radius: 20px;
  padding: 6px;
  border: #ffdcdc solid 1px;
}

.experience__block {
  width: 100%;
  background-color: #e8e8e8;
  height: 10px;
  border-radius: 20px;

}

.experience {
  width: 0;
  height: 100%;
  border-radius: 20px;
  transition: .9s;
}

/*end about */

/*portfolio*/

.portfolio h2 {
  margin: 0;
}

.portfolio p {
  margin: 0;
  font-size: 13px;
}

.portfolio {
  width: 70%;
  /*height: 80vh;*/
  margin: 0px auto;
  /*padding-top: 70px;*/
  text-align: center;
  transition: .03s linear;
}

.table__items {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}

.item {
  width: 31%;
  position: relative;
  cursor: pointer;

}

.item:after {
  display: block;
  content: "";
  width: 100%;
  height: 210px;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: .2s linear;
  border-radius: 10px;
}

.item:before {
  display: block;
  content: '';
  width: 18%;
  height: 41px;
  background: url("../photo/icon.png") no-repeat center;
  background-size: cover;
  position: absolute;
  z-index: 10;
  top: 90px;
  left: 41%;
  opacity: 0;
  transition: .3s linear;
}

.item:hover:after {
  opacity: .8;
}

.item:hover:before {
  opacity: 1;
}

.item img {
  width: 100%;
  border-radius: 10px;
  height: 210px;
}

.load__more {
  display: inline-block;
  background-size: cover;
  padding: 18px 70px;
  color: #fff;
  border-radius: 5px;
  transition: .3s ease-in-out;
  position: relative;
  overflow: hidden;
  margin: 30px 0 20px;
}

.load__more:hover {
  background: none;
}

.load__more:after {
  display: block;
  content: "";
  width: 120%;
  height: 470%;
  position: absolute;
  top: -70px;
  left: -15px;
  z-index: -1;
  transition: 180s linear;
}

.load__more:hover:after {
  transform: rotate(80000deg);

}

#load__more {
  display: none;
}

#hide {
  display: none;
}

#preloader, #preloader__for__mobile {
  display: none;
  padding-top: 60px;
}

/*#preloader__for__mobile{*/
/*    */
/*}*/

/*end portfolio*/

/*contact*/

#footer {
  margin-top: 180px;
  height: 80vh;
}

.background__gradient h3 {
  font-weight: 400;
}

.background__gradient h2 {
  font-size: 34px;
  margin-top: 100px;
  text-transform: initial;
  letter-spacing: 1px;
}

.message__cv {
  width: 55%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

.message, .cv {
  border-radius: 20px;
  padding: 10px 22px;
  font-weight: 500;
  font-size: 18px;
  transition: .2s linear;
  cursor: pointer;
  border: 1px #fff solid;
}

.message {
  background-color: #fff;
  color: #e40033;
}

.cv {
  color: #fff;

}

.cv:hover {
  background-color: white;
  color: #e40033;
}

.message:hover {
  background: none;
  color: #fff;
}

.social__network {
  width: 9%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.facebook img, .linkedin img {
  width: 50px;
  cursor: pointer;
  transition: .1s linear;
}


.facebook img:hover {
  margin-top: -6px;
}

.linkedin img:hover {
  margin-top: -6px;
}

.background__gradient p {
  font-size: 14px;
  color: #eee;
  margin-top: 75px;
}

/*end contact*/


/*media*/

@media (max-width: 1400px) {
  .background__gradient {
      height: 75vh;
  }

  h1 {
      font-size: 45px;
  }

  p {
      font-size: 15px;
  }

  .description {
      width: 55%;
  }

  .avatar {
      width: 35%;
  }

  .avatar img {
      width: 75%;
  }

  .item img, .item:after {
      height: 200px;
  }

  #footer {
      margin-top: 170px;
  }

  .social__network {
      width: 11%;
  }

}

@media (max-width: 1250px) {
  .container, .logo__nav, .about, .portfolio {
      width: 75%;
  }

  .background__gradient {
      height: 65vh;
  }

  .title__page {
      height: 80vh;
  }


  .item img, .item:after {
      height: 190px;
  }

  .avatar img {
      width: 70%;
  }

  h1 {
      line-height: 50px;
      font-size: 42px;
      padding: 15px 0;
  }

  #footer {
      margin-top: 150px;
  }

  .social__network {
      width: 13%;
  }

}

@media (max-width: 1100px) {
  .container, .logo__nav, .about, .portfolio {
      width: 80%;
  }

  .background__gradient {
      height: 55vh;
  }

  .item img, .item:after {
      height: 170px;
  }

  .about {
      height: 90vh;
  }

  h1 {
      line-height: 45px;
      font-size: 38px;
      padding: 10px 0;
  }

  #footer {
      margin-top: 120px;
  }


  .container {
      height: 40vw;
  }

  .social__network {
      width: 15%;
  }
}

@media (max-width: 1000px) {
  .container {
      height: 45vw;
  }

  .container, .logo__nav, .about, .portfolio {
      width: 85%;
  }

  .social__network {
      width: 17%;
  }

  .message__cv {
      width: 65%;
  }

  .skills__item {
      padding: 5px;
  }

  .about {
      height: 80vh;
  }

  .item:after, .item:before {
      display: none;
  }

}

@media (max-width: 900px) {
  .item img {
      height: 150px;
  }

  .title__page {
      height: 75vh;
  }

  .about {
      height: 70vh;
  }

  .skills__item {
      padding: 3px;
  }

  #footer {
      margin-top: 75px;
  }

  nav {
      width: 60%;
  }

  .social__network {
      width: 20%;
  }

}

@media (max-width: 800px) {

  .container, .logo__nav, .about, .portfolio {
      width: 90%;
  }

  .container {
      height: 50vw;
  }

  .description {
      width: 60%;
  }

  .avatar img {
      width: 80%;
  }

  h1 {
      font-size: 30px;
      line-height: 35px;
      padding: 7px 0;
  }
}

@media (max-width: 700px) {

  nav{
      display: none;
      flex-flow: column wrap;
  }

  .description .contact__block p {
    padding: 5px 0;
  }

  .show{
      display: block;
  }

  nav button{
      margin: 5px auto 0;
      font-size: 17px;
  }


  .logo{
      width: auto;
      font-size: 28px;
  }

  .container, .logo__nav, .about, .portfolio {
      width: 95%;
  }

  .title__page {
      height: auto;
  }

  .title {
      display: block;
      text-align: center;
  }

  .container {
      height: 100%;
      width: 75%;
  }

  .avatar {
      margin: 0px auto;
      padding: 15px 0;
      width: 85%;
  }

  .background__gradient {
      height: 120vh;
  }

  .description {
      width: 85%;
  }

  h1 {
      font-size: 35px;
      line-height: 50px;
      padding: 10px 0;
  }

  .description p {
      font-size: 16px;
      padding: 35px 0;
  }

  .about {
      display: block;
      text-align: center;
      margin: 80px auto;
      height: auto;
  }

  .message__cv{
      width: 90%;
  }

  .about__myself, .skills {
      margin: 0 auto;
      width: 75%;
      height: auto;

  }

  .skills {
      text-align: left;
  }

  .table__items {
      display: block;
  }

  .item img {
      height: 230px;
      width: 75%;
      margin-top: 20px;
  }

  .social__network {
      width: 25%;
  }

  .item:after {
      display: none;
  }

  .item:before {
      display: none;
  }

  .item:hover:after {
      display: none;
  }

  .item:hover:before {
      display: none;
  }


}

@media (max-width: 500px) {





  nav {
      width: 60%;
  }

  .container{
      width: 80%;
  }

  .title{
      margin-top: 30px;
  }

  .item img{
      height: 200px;
  }

  .social__network{
      width: 40%;
  }

}


/*delete*/

#window__width{
  position: fixed;
  bottom: 0;
  background: black;
  z-index: 25;
  color: white;
}