<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
   <div class="contact_hover">
     <div class="hover__1">+380983456584</div>
     <div class="hover__2"></div>
   </div>
    <div class="intro">
<div class="header_background">
  <div class="container">

    <div class="header_logo">
      <div class="text1">ax</div>
      <div class="text2">it</div>
    </div>
    <ul class="nav">
      <li><a href="#">Features</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">Contact</a>

    <ul>
     <li><a href="#">lab_4.web@gmail.com</a></li>
     <li><a href="#">London Bridge, Stainer St</a></li>
     <li class="stage_active"><a href="#">Phone number</a>
      <ul>
       <li class="stage__2"><a href="#">+3877752221</a></li>
     </ul>
     </li>
    </ul>
   </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="sector_1">
    <div class="text1_s">
      <div class="text1_1">AX</div>
      <div class="text2_1">IT</div>
    </div>
    <div class="text2_s">MODERN AXURE TEMPLATE
FOR BEAUTIFUL PROTOTYPES</div>
    <div class="text3_s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
euismod bibendum laoreet. Proin gravida dolor sit amet lacus
accumsan et viverra justo commodo.</div>
    <div class="button_s">
      <a class="button_text" href="#">Download</a>
    </div>
  </div>
  <div class="sector_2">
    <!-- <input></input> -->
  </div>
</div>
</div>

<div class="social_media"><div class="container">
  <div class="social_text">
    <div class="s_text_title">Social Media</div>
    <div class="s_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Aenean euismod bibendum laoreet.</div>
  </div>
  <div class="social_icon">
    <img src="photo/si.jpg">
  </div>
</div>
</div>

<div class="tabs">
  <div class="container">
<div class="tabs_block">

 <div id="tabs">
   <div class="tab whiteborder">Tab 1</div>
   <div class="tab">Tab 2</div>
   <div class="tab">Tab 3</div>
   </div>
    <div id="tabs">
   <div class="tabContent">
<div class="tabs_header">1Tabs with soft transitioning effect.</div>
<div class="tabs_text">
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
</div>
  <div class="tabs_button"><a class="button_tabs">Download</a>
   </div>
   </div>
   <div class="tabContent">
<div class="tabs_header">2Tabs with soft transitioning effect.</div>
<div class="tabs_text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
</div>
  <div class="tabs_button"><a class="button_tabs">Download</a>
   </div></div>
   <div class="tabContent">
<div class="tabs_header">3Tabs with soft transitioning effect.</div>
<div class="tabs_text">
Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
</div>
  <div class="tabs_button"><a class="button_tabs">Download</a>
   </div>
   </div>
 </div>

</div>
</div>

</div>

<div class="sub_list">
  <div class="container">
    <div class="sublist_photo"></div>
    <div class="sublist_section">
      <div class="sub_list_header">Sub list section</div>
      <div class="sub_list_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
euismod bibendum laoreet. Proin gravida dolor sit amet lacus
accumsan et viverra justo commodo.</div>
      <div class="download_title_1">
        <div class="download_icon"></div>
        <div class="title_text">
          <div class="bold">Title</div>
          <div class="regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Aenean euismod bibendum laoreet.</div>
        </div>
      </div>
      <div class="download_title">
        <div class="download_icon"></div>
        <div class="title_text">
          <div class="bold">Title</div>
          <div class="regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Aenean euismod bibendum laoreet. Proin gravida dolor
sit amet lacus accumsan et viverra justo commodo.</div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="picture">
  <div class="container">
      <div class="picture_text">
        <div class="picture_text_title">Standard Picture Section</div>
        <div class="picture_text_regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis
natoque penatibus et magnis dis parturient montes.
<br><br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
bibendum laoreet.</div>
      </div>
      <div class="picture_photo"></div>

  </div>
</div>

<div class="awesome">
  <div class="container">
    <div class="awesome_block">
      <div class="awesome_title">WHY THIS IS AWESOME</div>
      <div class="awesome_regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      <div class="awesome_cart">

        <div class="carts">
          <div class="awesome_icon"><img src="photo/awesome1.jpg"></div>
          <div class="carts_title">Thoughtful Design</div>
          <div class="carts_regular">Lorem ipsum dolor sit amet, consectetur adipiscing
elit. Aenean euismod bibendum laoreet. Proin gravida
dolor sit amet lacus accumsan et viverra.</div>
        </div>
        <div class="carts">
          <div class="awesome_icon"><img src="photo/awesome2.jpg"></div>
          <div class="carts_title">Well Crafted</div>
          <div class="carts_regular">Lorem ipsum dolor sit amet, consectetur adipiscing
elit. Aenean euismod bibendum laoreet. Proin gravida
dolor sit amet lacus accumsan et viverra.</div>
        </div>
        <div class="carts">
          <div class="awesome_icon"><img src="photo/awesome3.jpg"></div>
          <div class="carts_title">Easy to Customize</div>
          <div class="carts_regular">Lorem ipsum dolor sit amet, consectetur adipiscing
elit. Aenean euismod bibendum laoreet. Proin gravida
dolor sit amet lacus accumsan et viverra.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="options">
  <div class="container1">
    <div class="options_block">
      <div class="awesome_title">PRICING OPTIONS</div>
      <div class="awesome_regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      <div class="pricing">
        <div class="pricing_block_1">
          <div class="top_block">Basic</div>
          <div class="midle_block">
            <div class="cost_block">
              <div class="baks_block">$</div>
              <div class="number_block">0</div>
            </div>
              <div class="cost_regular">Free for Life</div>

          </div>
          <div class="orange_block1"></div>
          <div class="text_block">
            <div class="text_block1">1 gb of space</div>
            <div class="text_block1">10 gb of bandwidth</div>
            <div class="text_block1">3 websites</div>
            <div class="text_block1">Basic Customization</div>
            <div class="text_block1">wordpress integration</div>
            <div class="text_block1">email support</div>
          </div>
        </div>
        <div class="pricing_block_2">
          <div class="top_block">Professional</div>
          <div class="midle_block">
            <div class="cost_block">
              <div class="baks_block">$</div>
              <div class="number_block">19</div>
            </div>
              <div class="cost_regular">Monthly Payment</div>

          </div>
          <div class="orange_block2">OUR MOST POPULAR</div>
          <div class="text_block">
            <div class="text_block1">5 gb of space</div>
            <div class="text_block1">50 gb of bandwidth</div>
            <div class="text_block1">12 websites</div>
            <div class="text_block1">Advanced Customization</div>
            <div class="text_block1">wordpress integration</div>
            <div class="text_block1">email support</div>
          </div>
        </div>
        <div class="pricing_block_1">
          <div class="top_block">Enterprise</div>
          <div class="midle_block">
            <div class="cost_block">
              <div class="baks_block">$</div>
              <div class="number_block">70</div>
            </div>
              <div class="cost_regular">Monthly Payment</div>

          </div>
          <div class="orange_block1"></div>
          <div class="text_block">
            <div class="text_block1">Unlimited space</div>
            <div class="text_block1">unlimited bandwidth</div>
            <div class="text_block1">100 websites</div>
            <div class="text_block1">Advanced Customization</div>
            <div class="text_block1">wordpress integration</div>
            <div class="text_block1">24/7 customer support</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="customers">
  <div class="container">
    <div class="customers_content">
      <div class="awesome_title">WHAT OUR CUSTOMERS ARE SAYING</div>
      <div class="awesome_regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      <div class="coments">
        <div class="comens_block1">
          <div class="coments_text">Lorem ipsum dolor sit amet,
consectetur adipisicing elit. Doloribus
accusamus expedita repellat similique
odio aspernatur ex, architecto eaque
quo suscipit.</div>
        </div>
        <div class="comens_block">
          <div class="coments_text">Lorem ipsum dolor sit amet,
consectetur adipisicing elit. Doloribus
accusamus expedita repellat similique
odio aspernatur ex, architecto eaque
quo suscipit.</div>
        </div>
        <div class="comens_block">
          <div class="coments_text">Lorem ipsum dolor sit amet,
consectetur adipisicing elit. Doloribus
accusamus expedita repellat similique
odio aspernatur ex, architecto eaque
quo suscipit.</div>
        </div>
      </div>
      <div class="piple_block">

      <div class="piple1">
        <div class="piple_photo"></div>
        <div class="piple_text">
          <div class="piple_title">Jeremy H.</div>
          <div class="piple_regular">Manager</div>
        </div>
      </div>

      <div class="piple">
        <div class="piple_photo"></div>
        <div class="piple_text">
          <div class="piple_title">John S.</div>
          <div class="piple_regular">Freelancer</div>
        </div>
      </div>

      <div class="piple">
        <div class="piple_photo"></div>
        <div class="piple_text">
          <div class="piple_title">Susan W.</div>
          <div class="piple_regular">Photographer</div>
        </div>
      </div>

    </div></div>
  </div>
</div>
<div class="intro_fon">
<div class="video">
  <video class="video__media" src="photo/videofon.mp4" autoplay muted loop></video>
<div class="stylish">
  <div class="stylish_block">
    <div class="stylish_title">STYLISH AXURE DESIGN</div>
    <div class="stylish_regular">Use the sections you need, remove the ones you don't.  Create gorgeous prototypes faster than ever!</div>
    <div class="stylish_button"><a class="sbt" href="#">Download</a></div>
  </div>
</div>
</div>
</div>

<div class="contact">
  <div class="container1">
    <div class="contact_block">
      <div class="awesome_title">CONTACT US</div>
      <div class="awesome_regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
  </div>
</div>

<form action="">
 <div class="input-form">
  <div class="input">
    <input class="text-input" type="text" placeholder="Name">
    <input class="text-input" type="text" placeholder="Email">
    <input class="text-input" type="text" placeholder="Subject">
  </div>
     <div class="massage">
       <input class="text-input" type="text" placeholder="Massage">
     </div>

     </div>
     <input class="button-form" value="Send massage" type="button">
      </form>

<div class="last_block">
  <div class="last_text">© 2015 Axure Themes</div>
</div>

<script src="script.js"></script>
  </body>
</html>
