<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1400">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Gabriela|Kaushan+Script|Lobster|Marck+Script|Pacifico|Playball|Playfair+Display:400,700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>

  <div class="fon">
    <div class="item-1"><img src="photo/item-1.png" alt=""></div>
    <div class="item-2"><img src="photo/item-2.png" alt=""></div>


    <div class="text_1"><img src="photo/text_1.png" alt=""></div>
    <div class="phone_number">
      <img class="bike" src="photo/phone_number.png" alt="">
      <div class="number">(+91) 1737 070110</div>
    </div>
    <ul class="nav">
      <li><a class="nav_toggle" href="#">home</a></li>
      <li><a class="nav_toggle" href="#">menu</a></li>
      <li><a class="nav_toggle" href="#">our story</a></li>
      <li><a class="nav_toggle" href="#">contact us</a>
    <ul>
     <li><a class="nav_toggle" href="#">bf@gmail.com</a></li>
     <li><a class="nav_toggle" href="#">United States</a></li>
    </ul>
   </li>
    </ul>
    <div class="title">
      <div class="breakfast">Breakfast</div>
      <div class="time">Time</div>
    </div>
  </div>

  <div class="fon_2">
    <div class="container_fon_2">
      <div class="our">our</div>
      <div class="story">Story</div>
      <div class="story_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
        accumsan lacus vel facilisis. </div>
      <div class="story_button"><a class="button_text" href="">Read More</a></div>
    </div>
    <div class="item_3"><img src="photo/item_3.png" alt=""></div>
  </div>
<div class="intro_fon">
<div class="video">
  <video class="video__media" src="photo/food.mp4" autoplay muted loop></video>
  <div class="fon_3">
    <div class="fast">A FEAST FOR YOUR SENSES</div>
  </div>
</div>
</div>

  <div class="menu">
    <div class="menu_img"><img src="photo/menu.png" alt=""></div>
    <div class="menu_text">
      <div class="title_text">From the menu</div>
      <div class="suptitle_text">Special offers</div>

      <div class="foods">
        <div class="food">
          <div class="name_food">Royal breakfast</div>
          <div class="ingredients">Fried eggs, fried bacon, toast, fresh tomato salad,
            cup of coffee or tea</div>
        </div>
        <div class="cost">$15</div>
      </div>

      <div class="foods">
        <div class="food">
          <div class="name_food">Royal breakfast</div>
          <div class="ingredients">Fried eggs, fried bacon, toast, fresh tomato salad,
            cup of coffee or tea</div>
        </div>
        <div class="cost">$15</div>
      </div>


      <div class="foods">
        <div class="food">
          <div class="name_food">Royal breakfast</div>
          <div class="ingredients">Fried eggs, fried bacon, toast, fresh tomato salad,
            cup of coffee or tea</div>
        </div>
        <div class="cost">$15</div>
      </div>


    </div>
  </div>


  <div class="catering">
    <div class="catering_content">
      <div class="catering_title">Catering</div>
      <div class="catering_suptitle">Social Events</div>
      <div class="catering_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
      <div class="slide">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <div class="reservation">
    <div class="catering_title_1">Reservation</div>
    <div class="catering_suptitle">Book your table</div>

     <form action="">
     <div class="blocks">
      <input type="text" class="block" placeholder="Name">
      <input type="text" class="block" placeholder="Email">
    </div>
    <div class="blocks">
      <input type="text" class="block" placeholder="Date">
      <input type="text" class="block" placeholder="Time">
    </div>
    <div class="blocks">
      <input type="text" class="block" placeholder="People">
      <input type="button" class="block_1" value="Find a table">
    </div>
    </form>
    <div class="item_4"><img src="photo/item_4.png" alt=""></div>
  </div>


  <div class="contact">
  <div class="item_5"><img src="photo/item_5.png" alt=""></div>
  <div class="fon_5">
    <div class="icon_contact"><img src="photo/contact_1.png" alt=""></div>
    <div class="text_contact">Main Road, Building Name, Country</div>

    <div class="icon_contact"><img src="photo/contact_2.png" alt=""></div>
    <div class="text_contact">info@companyname.com</div>
    <div class="company">
      <div class="company_text">© Company Name 2016. All rights reserved.</div>
      <div class="company_icon">
        <a href="https://www.instagram.com/"><img class="company_icon" src="photo/inst.png" alt=""></a>
        <a href="https://www.facebook.com/"><img class="company_icon" src="photo/face.png" alt=""></a>
        <a href="https://twitter.com/"><img class="company_icon" src="photo/twit.png" alt=""></a>
        <a href="https://www.viber.com/"><img class="company_icon" src="photo/viber.png" alt=""></a>
      </div>
    </div>
  </div>
  </div>


</body>

</html>
