<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mogo</title>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="under__development">
    under development
</div>

<div class="intro">
    <header class="intro__header">
        <container class="intro__container container">
            <div class="intro__logo">MoGo</div>
            <nav class="intro__nav">
                <ul class="intro__ul">
                    <li><a class="intro__link" href="">about</a></li>
                    <li><a class="intro__link" href="">service</a></li>
                    <li><a class="intro__link" href="">work</a></li>
                    <li><a class="intro__link" href="">blog</a></li>
                    <li><a class="intro__link" href="">contact</a></li>
                    <li><a class="intro__picture" href=""><img src="./images/shop.png" alt=""></a></li>
                    <li><a class="intro__picture" href=""><img src="./images/search.png" alt=""></a></li>
                </ul>
            </nav>
        </container>
    </header>

    <div class="intro__title">
        <h2>Creative Template</h2>
        <h1>welcome<br>to mogo</h1>
        <button class="intro__button">learn more</button>
    </div>

    <div class="intro__slider">
        <container class="container">
            <div class="intro__items">
                <span class="intro__slide active"></span>
                <text>
                    <span>01</span>
                    intro
                </text>
            </div>
            <div class="intro__items">
                <span class="intro__slide"></span>
                <text>
                    <span>02</span>
                    work
                </text>
            </div>
            <div class="intro__items">
                <span class="intro__slide"></span>
                <text>
                    <span>03</span>
                    about
                </text>
            </div>
            <div class="intro__items">
                <span class="intro__slide"></span>
                <text>
                    <span>04</span>
                    contacts
                </text>
            </div>
        </container>
    </div>
</div>
<!--intro end ----------------------------->

<div class="about">
    <div class="header">
        <h4 class="subtitle">What we do</h4>
        <h3 class="title">story about us</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.</p>
    </div>


    <container class="container">
        <div class="about__cards">
            <div class="about__shadow">
                <div class="cards card1">
                    <div class="gradient">
                        <div class="content">
                            <img src="./images/home.png" alt=""><br>
                            <text>super team</text>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__shadow">
                <div class="cards card2">
                    <div class="gradient">
                        <div class="content">
                            <img src="./images/home.png" alt=""><br>
                            <text>super team</text>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about__shadow">
                <div class="cards card3">
                    <div class="gradient">
                        <div class="content">
                            <img src="./images/home.png" alt=""><br>
                            <text>super team</text>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </container>

    <div class="about__counter">
        <container class="container">
            <div class="item">
                <div class="number">42</div>
                <text>web design projects</text>
            </div>
            <div class="item">
                <div class="number">123</div>
                <text>happy client</text>
            </div>
            <div class="item">
                <div class="number">15</div>
                <text>award winner</text>
            </div>
            <div class="item">
                <div class="number">99</div>
                <text>cup of coffee</text>
            </div>
            <div class="item">
                <div class="number">24</div>
                <text>members</text>
            </div>
        </container>
    </div>

</div>
<!--about end ----------------------------->

<div class="services">
    <div class="header">
        <h4 class="subtitle">We work with</h4>
        <h3 class="title">amazing services</h3>
    </div>
    <container class="container">
        <div class="services__line">
            <div class="services__item">
                <img src="./images/clock.png" alt="">
                <div class="services__text">
                    <h5>photography</h5>
                    <text>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor.
                    </text>
                </div>
            </div>
            <div class="services__item">
                <img src="./images/stat.png" alt="">
                <div class="services__text">
                    <h5>web design</h5>
                    <text>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor.
                    </text>
                </div>
            </div>
            <div class="services__item">
                <img src="./images/window.png" alt="">
                <div class="services__text">
                    <h5>creativity</h5>
                    <text>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor.
                    </text>
                </div>
            </div>


        </div>
        <div class="services__line">
            <div class="services__item">
                <img src="./images/book.png" alt="">
                <div class="services__text">
                    <h5>seo</h5>
                    <text>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor.
                    </text>
                </div>
            </div>
            <div class="services__item">
                <img src="./images/home2.png" alt="">
                <div class="services__text">
                    <h5>css/html</h5>
                    <text>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor.
                    </text>
                </div>
            </div>
            <div class="services__item">
                <img src="./images/border.png" alt="">
                <div class="services__text">
                    <h5>digital</h5>
                    <text>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor.
                    </text>
                </div>
            </div>
        </div>
    </container>
</div>
<!--services end ----------------------------->

<div class="design">
    <div class="header">
        <h4 class="subtitle">For all devices</h4>
        <h3 class="title">unique design</h3>
    </div>
    <img src="./images/ipad.png" alt="">
</div>
<!--design end ----------------------------->

<div class="services2">
    <div class="header">
        <h4 class="subtitle">Service</h4>
        <h3 class="title">what we do</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. </p>
    </div>

    <div class="container services2__container">
        <img class="services2__img" src="./images/body.png" alt="">
        <div class="services2__content">
            <div class="services2__title" onclick="active(1)">
                <img src="./images/picture.png" alt="">
                <h5>photography</h5>
                <span id="arrow1" class="arrow active"></span>
            </div>
            <div id="scroll__bar1" class="scroll__bar active">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</p>
            </div>


            <div class="services2__title" onclick="active(2)">
                <img src="./images/sliders.png" alt="">
                <h5>creativity</h5>
                <span id="arrow2" class="arrow"></span>
            </div>
            <div id="scroll__bar2" class="scroll__bar">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</p>
            </div>

            <div class="services2__title" onclick="active(3)">
                <img src="./images/target.png" alt="">
                <h5>web design</h5>
                <span id="arrow3" class="arrow"></span>
            </div>
            <div id="scroll__bar3" class="scroll__bar">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</p>
            </div>

        </div>

    </div>

    <div class="services2__feedback feedback">
        <div class="container">
            <img src="./images/message.png" alt="">
            <div class="services2__text text">
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.”</p>
                <h4 class="subtitle">Jon Doe</h4>
            </div>
            <span class="feedback__left"></span>
            <span class="feedback__right"></span>
        </div>
    </div>

</div>
<!--services2 end ----------------------------->


<div class="team">
    <div class="header">
        <h4 class="subtitle">Who we are</h4>
        <h3 class="title">meet our team</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. </p>
    </div>
    <container class="container">
        <div class="about__cards">
            <div class="about__shadow">
                <div class="cards card1">
                    <div class="gradient">
                        <div class="content">
                            <a href="#" class="social__icon">
                                <div class="icon1 item" alt=""></div>
                            </a>
                            <a href="#" class="social__icon">
                                <div class="icon2 item" alt=""></div>
                            </a>
                            <a href="#" class="social__icon">
                                <div class="icon3 item" alt=""></div>
                            </a>
                            <a href="#" class="social__icon">
                                <div class="icon4 item" alt=""></div>
                            </a>
                        </div>
                    </div>
                </div>
                <h6>matthew dix</h6>
                <p>Graphic Design</p>
            </div>
            <div class="about__shadow">
                <div class="cards card2">
                    <div class="gradient">
                        <div class="content">
                            <a href="#" class="social__icon">
                                <div class="icon1 item" alt=""></div>
                            </a>
                            <a href="#" class="social__icon">
                                <div class="icon2 item" alt=""></div>
                            </a>
                            <a href="#" class="social__icon">
                                <div class="icon3 item" alt=""></div>
                            </a>
                            <a href="#" class="social__icon">
                                <div class="icon4 item" alt=""></div>
                            </a>
                        </div>
                    </div>
                </div>
                <h6>christopher campbell</h6>
                <p>Branding/UX design</p>
            </div>

            <div class="about__shadow">
                <div class="cards card3">
                    <div class="gradient">
                        <div class="content">
                            <a href="#" class="social__icon">
                                <div class="icon1 item" alt=""></div>
                            </a>
                            <a href="#" class="social__icon">
                                <div class="icon2 item" alt=""></div>
                            </a>
                            <a href="#" class="social__icon">
                                <div class="icon3 item" alt=""></div>
                            </a>
                            <a href="#" class="social__icon">
                                <div class="icon4 item" alt=""></div>
                            </a>
                        </div>
                    </div>
                </div>
                <h6>michael fertig </h6>
                <p>Developer</p>
            </div>
        </div>
    </container>

    <div class="team__icons">
        <container class="container">
            <img src="./images/logo1.png" alt="" class="team__item">
            <img src="./images/logo2.png" alt="" class="team__item">
            <img src="./images/logo3.png" alt="" class="team__item">
            <img src="./images/logo4.png" alt="" class="team__item">
            <img src="./images/logo5.png" alt="" class="team__item">
            <img src="./images/logo6.png" alt="" class="team__item">
        </container>
    </div>

</div>
<!--team end ----------------------------->

<div class="work">
    <div class="header">
        <h4 class="subtitle">Who we do</h4>
        <h3 class="title">some of our work</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. </p>
    </div>

    <div class="work__pictures">
        <div class="work__column">
            <div class="cards work1">
                <div class="gradient">
                    <div class="content">
                        <img src="./images/work__picture.png" alt=""><br>
                        <h6>creatively designed</h6>
                        <p>Lorem ipsum dolor sit</p>
                    </div>
                </div>
            </div>
            <div class="cards work2">
                <div class="gradient">
                    <div class="content">
                        <img src="./images/work__picture.png" alt=""><br>
                        <h6>creatively designed</h6>
                        <p>Lorem ipsum dolor sit</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="work__column">
            <div class="cards work3">
                <div class="gradient">
                    <div class="content">
                        <img src="./images/work__picture.png" alt=""><br>
                        <h6>creatively designed</h6>
                        <p>Lorem ipsum dolor sit</p>
                    </div>
                </div>
            </div>
            <div class="cards work4">
                <div class="gradient">
                    <div class="content">
                        <img src="./images/work__picture.png" alt=""><br>
                        <h6>creatively designed</h6>
                        <p>Lorem ipsum dolor sit</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="work__column">
            <div class="cards work5">
                <div class="gradient">
                    <div class="content">
                        <img src="./images/work__picture.png" alt=""><br>
                        <h6>creatively designed</h6>
                        <p>Lorem ipsum dolor sit</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="work__column">
            <div class="cards work6">
                <div class="gradient">
                    <div class="content">
                        <img src="./images/work__picture.png" alt=""><br>
                        <h6>creatively designed</h6>
                        <p>Lorem ipsum dolor sit</p>
                    </div>
                </div>
            </div>
            <div class="cards work7">
                <div class="gradient">
                    <div class="content">
                        <img src="./images/work__picture.png" alt=""><br>
                        <h6>creatively designed</h6>
                        <p>Lorem ipsum dolor sit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="work__feedback feedback">
        <container class="container">
            <img src="./images/feedback2.png" alt="">
            <div class="work__text text">
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.”</p>
                <h4 class="subtitle">Joshua Earle</h4>
            </div>
            <span class="feedback__left"></span>
            <span class="feedback__right"></span>
        </container>
    </div>
</div>
<!--work end ----------------------------->

<div class="clients">
    <div class="header">
        <h4 class="subtitle">Happy clients</h4>
        <h3 class="title">what people say</h3>
    </div>
    <container class="container">
        <div class="clients__row">
            <div class="clients__column">
                <img src="./images/client1.png" alt="">
                <div class="clients__text">
                    <h6>matthew dix</h6>
                    <p>Graphic Design</p>
                    <text>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                        Ut enim ad minim.</text>
                </div>
            </div>
            <div class="clients__column">
                <img src="./images/client2.png" alt="">
                <div class="clients__text">
                    <h6>matthew dix</h6>
                    <p>Graphic Design</p>
                    <text>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</text>
                </div>
            </div>
        </div>
        <div class="clients__row">
            <div class="clients__column">
                <img src="./images/client3.png" alt="">
                <div class="clients__text">
                    <h6>matthew dix</h6>
                    <p>Graphic Design</p>
                    <text>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</text>
                </div>
            </div>
            <div class="clients__column">
                <img src="./images/client4.png" alt="">
                <div class="clients__text">
                    <h6>matthew dix</h6>
                    <p>Graphic Design</p>
                    <text>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</text>
                </div>
            </div>
        </div>
    </container>
</div>

<!--clients end ----------------------------->

<div class="blog">
    <div class="header">
        <h4 class="subtitle">Our stories</h4>
        <h3 class="title">latest blog</h3>
    </div>

    <container class="container">
        <div class="blog__column">
            <div class="blog__img">
                <img src="./images/blog1.png" alt="">
                <div class="blog__date">
                    <div class="blog__number">15</div>
                    <p>Jan</p>
                </div>
            </div>
            <h6>Lorem ipsum dolor sit amet</h6>
            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="./images/view__count.png" alt="">
            <span>542</span>
            <img src="./images/coments__count.png" alt="">
            <span>17</span>
        </div>
        <div class="blog__column">
            <div class="blog__img">
                <img src="./images/blog2.png" alt="">
                <div class="blog__date">
                    <div class="blog__number">14</div>
                    <p>Jan</p>
                </div>
            </div>
            <h6>sed do eiusmod tempor</h6>
            <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="./images/view__count.png" alt="">
            <span>992</span>
            <img src="./images/coments__count.png" alt="">
            <span>42</span>
        </div>
        <div class="blog__column">
            <div class="blog__img">
                <img src="./images/blog3.png" alt="">
                <div class="blog__date">
                    <div class="blog__number">12</div>
                    <p>Jan</p>
                </div>
            </div>
            <h6>incididunt ut labore et dolore</h6>
            <p>Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="./images/view__count.png" alt="">
            <span>1560</span>
            <img src="./images/coments__count.png" alt="">
            <span>98</span>
        </div>
    </container>

</div>

<!--blog end ----------------------------->

<div class="footer">
    <div class="header">
        <img src="./images/map.png" alt="">
        <h3 class="title">open map</h3>
    </div>
</div>

<!--footer end ----------------------------->

<script src="tabsAnimation.js"></script>
</body>
</html>