<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Lora|Raleway:400,500,600,700,800,900|Roboto:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sport</title>
</head>
<body>
  <div class="fon">
    <div class="header">
    <div class="fon_container">
      <div class="logo"><img src="Photo/logo.png" width="70%" alt=""></div>
      <div class="nav">
        <a href="#" class="nav_toggle">home</a>
        <a href="#" class="nav_toggle">about</a>
        <a href="#" class="nav_toggle">shop</a>
        <a href="#" class="nav_toggle">contact</a>
      </div>
    </div>
    </div>
    <div class="delete">
      <div class="contact_d"><br><br><br><br>+380632044093</div>
      <div class="contact_d">sport_life7777@gmail.com</div>
    </div>

    <div class="title">
      <div class="title_logo">SPORT</div>
      <div class="title_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br>
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br>
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</div>
      <a href="#" class="title_button">READ MORE</a>
    </div>

  </div>

  <div class="whoare">
    <div class="whoare_logo">Who are we</div>
    <div class="whoare_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip<br> ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br> eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat </div>
  </div>

  <div class="weuse">
    <div class="weuse_container">
      <div class="weuse_block">
        <div class="weuse_logo">We use less water</div>
        <div class="weuse_text">Lorem ipsum dolor sit amet, consecte<br>
sectetur adipisicing elit, tation omne<br>
ullamco laboris nisi ut aliqolore.</div>
      </div>
      <div class="weuse_block">
        <div class="weuse_logo">We use less water</div>
        <div class="weuse_text">Lorem ipsum dolor sit amet, consecte<br>
sectetur adipisicing elit, tation omne<br>
ullamco laboris nisi ut aliqolore.</div>
      </div>
      <div class="weuse_block">
        <div class="weuse_logo">We use less water</div>
        <div class="weuse_text">Lorem ipsum dolor sit amet, consecte<br>
sectetur adipisicing elit, tation omne<br>
ullamco laboris nisi ut aliqolore.</div>
      </div>
    </div>
  </div>

<div class="first">
  <div class="first_logo">Priorities go first</div>
  <div class="first_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
</div>
  <div class="first_blocks">
  <div class="f_block">
  <div class="block_title1">Company</div>
  <div class="block_text1">“Lorem ipsum dolor
sit amet, consectetur
adipisicing elit sed do”.</div>
  <div class="block_title1">adam johns</div>
  <div class="block_text1">account manager</div>
  </div>

  <div class="f_block">
  <div class="block_title1">Company</div>
  <div class="block_text1">“Lorem ipsum dolor
sit amet, consectetur
adipisicing elit sed do”.</div>
  <div class="block_title1">adam johns</div>
  <div class="block_text1">account manager</div>
  </div>

  <div class="f_block">
  <div class="block_title1">Company</div>
  <div class="block_text1">“Lorem ipsum dolor
sit amet, consectetur
adipisicing elit sed do”.</div>
  <div class="block_title1">adam johns</div>
  <div class="block_text1">account manager</div>
  </div>
  </div>

  <div class="first_blocks">
  <div class="f_block">
  <div class="block_title1">Company</div>
  <div class="block_text1">“Lorem ipsum dolor
sit amet, consectetur
adipisicing elit sed do”.</div>
  <div class="block_title1">adam johns</div>
  <div class="block_text1">account manager</div>
  </div>

  <div class="f_block">
  <div class="block_title1">Company</div>
  <div class="block_text1">“Lorem ipsum dolor
sit amet, consectetur
adipisicing elit sed do”.</div>
  <div class="block_title1">adam johns</div>
  <div class="block_text1">account manager</div>
  </div>

  <div class="f_block">
  <div class="block_title1">Company</div>
  <div class="block_text1">“Lorem ipsum dolor
sit amet, consectetur
adipisicing elit sed do”.</div>
  <div class="block_title1">adam johns</div>
  <div class="block_text1">account manager</div>
  </div>
  </div>

</div>

<div class="about">
 <div class="about_container">
  <div class="about_l">
  <div class="about_l_title">About</div>
  <div class="about_l_text">Lorem ipsum dolor sit amet, consec
tetur adipisicing elit, sed do eiusmod
tempor incididunt ultimam quantum</div>
  <div class="about_l_icon">
    <div class="icon"><img src="Photo/f.png" alt=""></div>
    <div class="icon"><img src="Photo/f.png" alt=""></div>
    <div class="icon"><img src="Photo/f.png" alt=""></div>
    <div class="icon"><img src="Photo/f.png" alt=""></div>
  </div>
  </div>

    <div class="about_team">
      <div class="teams">
        <div class="about_r_title">About</div>
        <div class="about_r_name">Team</div>
        <div class="about_r_name">Join us</div>
        <div class="about_r_name">Ethic</div>
        <div class="about_r_name">Goals</div>
      </div>
      <div class="teams">
        <div class="about_r_title">About</div>
        <div class="about_r_name">Team</div>
        <div class="about_r_name">Join us</div>
        <div class="about_r_name">Ethic</div>
        <div class="about_r_name">Goals</div>
      </div>
      <div class="teams">
        <div class="about_r_title">About</div>
        <div class="about_r_name">Team</div>
        <div class="about_r_name">Join us</div>
        <div class="about_r_name">Ethic</div>
        <div class="about_r_name">Goals</div>
      </div>

  </div>
  </div>
</div>

</body>
</html>
